.container {
    background-image: url(https://i.pinimg.com/originals/31/4e/9a/314e9a89ae515e47879bcb8198ccfa76.png);
    align-content: center;
    background-size: cover;
    padding: 100px 120px 100px 120px ;
    display: inline-block;
    border-radius: 20px
}

.div-container {
    background-color: rgba(255, 255, 255, 0.657);
    display: inline-block;
    padding: 40px 120px 40px 120px;
    margin: 0px;
    border-radius: 20px;
}

#title {
    margin: 0;
    padding: 0px;
    font-size: 60px;
    font-family: sans-serif;
    text-align: justify;
}

#code {
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    font-size: 60px;
    font-family: sans-serif;
}



