.container {
    width: clamp(600px, 50%, 1000px);
    height: 20vh;
    padding: 100px 120px 100px 120px ;
    place-content: relative;
    align-items: center;
    display: grid;
    border-radius: 500px
}


.container2 {
    place-content: center;
    height: 20vh;
    width: 40vh;
    display: grid;
    border-radius: 500px
}
 
.div-container {
    place-content: center;
    display: grid;
    height: 20vh;
    width: 40vh;
    margin: 0px;
    border-radius: 500px;
}

#title {
    text-align: center;
    margin: 0;
    padding: 0px;
    font-size: 60px;
    font-family: sans-serif;
}

#code {
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    font-size: 60px;
    font-family: sans-serif;
}



